<div class="card">
  <img
    src="https://images.unsplash.com/photo-1681842232867-bd0f2f149765?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">viewss - 100,250</small>
    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
    <P
      >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
      nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      Donec pede justo, fri</P
    >
    <small class="bg-light text-warning text-center ml-3"
      >LAST UPDATED - SEP 20, 2023</small
    >
  </div>
</div>
